<%- include("../partials/head.ejs")%>

    <body style="overflow-x: hidden;">



        <div class="container">

            <div class="row">

                <div class="col-md-8 offset-md-3 border p-4 mt-4 addresult ">
                    <div class="text-center mb-5">
                        <h1>Result Details</h1>
                    </div>
                    <form>
                        <div class="row g-4">
                            <div class="col-md-4">
                                <lable>Roll Number</lable>
                            </div>
                            <div class="col-md-6">
                                <lable>
                                    <%= result.rollNumber %>
                                </lable>
                            </div>
                            <div class="col-md-4">
                                <lable>Student Name</lable>
                            </div>
                            <div class="col-md-6">
                                <%= result.studentName%>
                            </div>
                            <div class="col-md-4">
                                <lable>Date Of Birth</lable>
                            </div>
                            <div class="col-md-6">
                                <%= result.dateOfBirth %>
                            </div>
                            <div class="col-md-4">
                                <lable>Score</lable>
                            </div>
                            <div class="col-md-6">
                                <%= result.score %>
                            </div>


                            <div class="col-12 mt-5">
                                <input type="button" value="Back" class="btn btn-danger float-start ms-2"
                                    onclick="history.back()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>

            <p>Copyrigth 2022-2023</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

    </html>